<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>blogPost</title>
</head>
<body>
    <div class="ceter-container">
        <h2>blog<span>Post</span></h2>
        <ul class="navLi">
            <li>profile</li>
            <li>about</li>
            <li>lear more</li>
        </ul>
        <div class="signLinks">
            <ul class="linkLi">
                <li><a href="signin">sign in</a></li>
                <li><a href="signup">sign up</a></li>
            </ul>
        </div>
    </div>
    <div class="header-post ">
        <h2>public Posts</h2>
        <p>These are public posts. You can interact with them if you have an account.</p>

    </div>
    <div class="main-post-display">

    </div>
</body>
</html>