<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>blogPost</title>
</head>
<body>
    <div class="ceter-container">
        <h2>blog<span>Post</span></h2>
        <ul class="navLi">
            <li>profile</li>
            <li>about</li>
            <li>lear more</li>
        </ul>
        <!-- <div class="signLinks">
            <ul class="linkLi">
                <li><a href="/">logout</a></li>
            </ul>
        </div> -->
    </div>
    <div class="create-new-post">
        <h1>Add a new Post</h1>
        <form action="/home/newpost" method="post">
            <%- include('_form_fields') %>
        </form>

    </div>
    
</body>
</html>